 docker container rm $(docker container ls -aq --filter "name=mysql-controle-tarefas") --force
 docker run -p 3306:3306 --name mysql-controle-tarefas -e MYSQL_DATABASE=controle_tarefas -e MYSQL_ALLOW_EMPTY_PASSWORD=yes -d mysql
 docker exec -it mysql-controle-tarefas bash
 mysql
 
 use controle_tarefas;
 CREATE TABLE controle_tarefas.tasks (
    id int(11) NOT NULL AUTO_INCREMENT,
    titulo varchar(50) NOT NULL,
    descricao varchar(100) NOT NULL,
    PRIMARY KEY (id)
 ) ENGINE = InnoDB;
 CREATE TABLE controle_tarefas.users (
    id int(11) NOT NULL AUTO_INCREMENT,
    username varchar(50) NOT NULL,
    password varchar(100) NOT NULL,
    PRIMARY KEY (id)
 ) ENGINE = InnoDB;
 INSERT INTO controle_tarefas.users (username, password) values ('admin', '1234');

 ALTER USER 'root'@'%' IDENTIFIED BY 'd3s3nv';
 ALTER USER 'root'@'%' IDENTIFIED WITH mysql_native_password BY 'd3s3nv';
 ALTER USER 'root'@'localhost' IDENTIFIED BY 'd3s3nv';
 ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'd3s3nv';
 FLUSH PRIVILEGES;
 quit;
 exit